@model Tej_WebApp_Core.Models.UnDelivered.UnDeliveredModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UnDeliveredLayout.cshtml";
}

@*<h1></h1>
<h4></h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="pk_consmt_key" class="control-label"></label>*@
                <input asp-for="pk_consmt_key" class="form-control" type="hidden" />  
                 <input asp-for="consmt_no" class="form-control" type="hidden" /> 
                <input asp-for="pk_deliver_by" class="form-control" type="hidden" /> 
                <input asp-for="pk_branch_key" class="form-control" type="hidden" /> 
                @*<span asp-validation-for="pk_consmt_key" class="text-danger"></span>*@              

            </div>
            <div class="form-group"> 
                <label>Consmt No :  </label>@TempData["cnote_no"]   @*@ViewBag.Consmtno*@
                @*<label asp-for="consmt_no" class="control-label"></label> 
                <input asp-for="consmt_no" class="form-control" />
                <span asp-validation-for="consmt_no" class="text-danger"></span>*@             
            </div>
            @*<div class="form-group">
                <label asp-for="reason" class="control-label"></label>
                <input asp-for="reason" class="form-control" />
                <span asp-validation-for="reason" class="text-danger"></span>
            </div>*@
            <label for="">Undelivered Reason<span style="color:red;"></span></label><br />             
                <select asp-for="reason" required class="custom-select" style="height:30px; width:100%;">
                    <option value="">Select Reason</option>
                    <option value="ShortAddress">Short Address</option>
                    <option value="WrongAddress">Wrong Address</option>
                    <option value="HouseOfficeLocked">House/Office Locked</option>
                    <option value="PartyNotAccept">Party Not Accept</option>
                    <option value="PersonNotAvailable">Person Not Available</option>
                    <option value="Shifted">Shifted</option>
                    <option value="LeftTheJob">Left The Job</option>
                    <option value="ODA">ODA</option>
                    @*<option value="Peon">Peon</option>*@
                    @*<option value="Receptionist">Receptionist</option>*@
                </select>
                <div class="form-group">                
                </div>
                 <div class="form-group">
                 <label asp-for="remark" class="control-label"></label> 
                <input asp-for="remark" class="form-control" />
                <span asp-validation-for="remark" class="text-danger"></span>
                 </div>
            @*<div class="form-group">
                <input type="submit" id="submit" value="Create" class="btn btn-primary" />
            </div>*@
            <footer class="container-fluid text-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </footer>
        </form> 
</div>
</div>
<div>
    @*<a asp-action="Index">Back to List</a>*@
     @*<a href="@Url.Action("Index", "DlvTaskList")" ><span><i class="fa fa-tasks"><span><</span> Back</i></span></a>*@
</div>

